:root{
    --fgcolor:#a3237b;
    --bgcolor:#ffff;
    --primary:#5555;
    
}
body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bgcolor);
    color: black;
    
}
main{
    margin: 0 auto;
    max-width: 80%;
    
}
navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 button{
    background-color: chocolate;
    color:white;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: yellow;
}
a{
    color: black;
    text-decoration: none;
    margin:0px 10px ;
}
.hero{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    align-items: center;
    gap: 30px;
}
.hero-image{
    width: 100px;
}
.hero-image:hover{
    transform: rotate(3000dg);
    transition: 10s;
}
.services{
    text-align: center;
}
.services-flex{
    display: flex;
    gap: 20px;
}
.services-card{
    background-color: #d9d9d9;
    /* border:solid 1px black ; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 0 6px brown;
    font-size: small 
}
section.tFAQ{
    display:grid;
    grid-template-columns: repeat(3,1fr) ;
    padding: 100px;
}
.question p{
    display: none;
}
.test{
    border-radius: 10px;
    background-color: chocolate;
    text-align: center;

}
.question{
    border-bottom: solid 1px black;
    margin: 40px;
}
.location{
    align-items: center;
    text-align: center;
    padding: 10px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}